@model LiraOfInvestment.ViewModels.MainPageItems




<div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" id="stockSearch" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" asp-controller="Stock" asp-action="Details">Search</button>
    </form>
    @foreach (var item in Model.RecommendedStocks.finance.result){
        @for(int i=0;i<item.count;i++){
        <a class="btn btn-link" asp-controller="Stock" asp-action="Details" asp-route-id="@item.quotes.ElementAt(i).symbol" role="button">@item.quotes.ElementAt(i).symbol</a>
        }
    }
</div>


@section Scripts{
    <script>
        $(document).ready(function(){
            $("#stockSearch").autocomplete({
                source:function(request,response){
                    var val=request.term;

                    $.ajax({
                        URL:"/search/"+val,
                        type:"GET",
                        success:function(data){
                            response($.map(data,function(item){
                                return{value:item.quote.symbol}
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                },
                minLength: 1
            })
        })
    </script>
}