@model LiraOfInvestment.ViewModels.MainPageItems




<div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    @foreach (var item in Model.RecommendedStocks.finance.result){
        @for(int i=0;i<item.count;i++){
        <a class="btn btn-link" asp-controller="Stock" asp-action="Details" asp-route-id="@item.quotes.ElementAt(i).symbol" role="button">@item.quotes.ElementAt(i).symbol</a>
        }
    }
</div>
